/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-size: 62.5%;
  background-color: #FFFAF0;
}
ol,
ul {
  list-style: disc inside none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.wrapper {
  background-color: #FFFAF0;
  max-width: 1000px;
  padding: 2%;
  border: 1px dotted #FAEBD7;
  margin: 3%;
}
@media (max-width: 500px) {
  .wrapper {
    margin: 1%;
  }
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #FDF5E6;
  border: 1px solid #8B4513;
  padding: 3%;
  border: 1px dotted #8B4513;
}
nav h1,
nav h2,
nav h3,
nav h4,
nav h5 {
  font-family: 'Abel', sans-serif;
  color: #8B4513;
  font-size: 1.6rem;
  padding: 4px;
}
nav p,
nav a,
nav li {
  font-family: 'Oswald', sans-serif;
  color: #191970;
  font-size: 1.2rem;
  line-height: 1.5;
}
nav p:hover,
nav a:hover,
nav li:hover {
  color: #6495ED;
}
.headlinewrapper {
  display: flex;
  justify-content: center;
}
.headline {
  background-color: #FAEBD7;
  border: 1px solid #8B4513;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 0;
  width: 80%;
}
.headline:hover {
  background-color: #BC8F8F;
}
.headline h1,
.headline h2,
.headline h3,
.headline h4,
.headline h5 {
  font-family: 'Abel', sans-serif;
  color: black;
  font-size: 1.8rem;
  padding: 4px;
}
.headline p,
.headline a,
.headline li {
  font-family: 'Lato', sans-serif;
  color: #8B4513;
  font-size: 1.2rem;
}
.headline h1 {
  font-size: 2rem;
}
.headline h2 {
  font-size: 1.6rem;
}
.maininfo {
  background-color: #FFFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px #8B4513 solid;
  padding: 2%;
}
.darkbox {
  background-color: #FAEBD7;
  border: 1px solid #8B4513;
  margin: 4%;
  border: 1px #8B4513 solid;
  display: flex;
  flex-flow: row nowrap;
  padding: 3%;
  justify-content: space-between;
  align-items: center;
}
.darkbox:hover {
  background-color: #BC8F8F;
}
.darkbox h1,
.darkbox h2,
.darkbox h3,
.darkbox h4,
.darkbox h5 {
  font-family: 'Abel', sans-serif;
  color: black;
  font-size: 1.8rem;
  padding: 4px;
}
.darkbox p,
.darkbox a,
.darkbox li {
  font-family: 'Lato', sans-serif;
  color: #8B4513;
  font-size: 1.2rem;
}
.darkbox img {
  width: 45%;
}
@media (max-width: 500px) {
  .darkbox {
    flex-flow: column nowrap;
  }
}
.lightbox {
  background-color: #FDF5E6;
  border: 1px solid #8B4513;
  margin: 4%;
  border: 1px #8B4513 solid;
  display: flex;
  flex-flow: row nowrap;
  padding: 3%;
  justify-content: space-between;
  align-items: center;
}
.lightbox h1,
.lightbox h2,
.lightbox h3,
.lightbox h4,
.lightbox h5 {
  font-family: 'Abel', sans-serif;
  color: #8B4513;
  font-size: 1.6rem;
  padding: 4px;
}
.lightbox p,
.lightbox a,
.lightbox li {
  font-family: 'Oswald', sans-serif;
  color: #191970;
  font-size: 1.2rem;
  line-height: 1.5;
}
.lightbox p:hover,
.lightbox a:hover,
.lightbox li:hover {
  color: #6495ED;
}
.lightbox img {
  width: 45%;
}
@media (max-width: 500px) {
  .lightbox {
    flex-flow: column nowrap;
  }
}
.halfbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contactbox {
  background-color: #FAEBD7;
  width: 60%;
  padding: 2%;
  margin: 3% 0;
  display: flex;
  flex-flow: row wrap;
  border: 1px dotted #8B4513;
}
@media (max-width: 500px) {
  .contactbox {
    flex-flow: column nowrap;
    align-items: center;
  }
}
.contactbox h2 {
  font-family: 'Abel', sans-serif;
  width: 80%;
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 3px;
}
.contactbox p {
  font-family: 'Lato', sans-serif;
  width: 45%;
  size: 1rem;
  font-size: 0.8rem;
  text-align: center;
  padding: 2px 0;
}
